.clear {
  clear: both!important;
  height: 0!important;
  visibility: hidden!important;
  display: block!important;
}
a {
  text-decoration: none!important;
}
#tab-container {
  font-family: Arial, Verdana, Helvetica, sans-serif !important;
  font-size: 12px!important;
  line-height: 14px!important;
  width: 100%!important;
  /*overflow: hidden!important;*/
}
#tab-container ul {
  list-style: none!important;
  list-style-position: outside!important;
  width: 100%!important;
}
#tab-container ul.tab-menu li {
  display: block!important;
  float: left!important;
  position: relative!important;
  font-weight: 700!important;
  padding: 5px 10px 5px 10px!important;
  background: #eee!important;
  border: 1px solid #ddc!important;
  border-bottom: none!important;
  border-width: 1px!important;
  color: #999!important;
  cursor: default!important;
  height: 34px!important;
  margin-bottom: -1px !important;
  margin-right: 5px!important;
  border-top-left-radius: 3px!important;
  border-top-right-radius: 3px!important;
}
#tab-container ul.tab-menu li.active {
  background: #fff!important;
  color: #0088CC!important;
  height: 35px!important;
  border-bottom: 0px !important;
}
.tab-top-border {
  border-bottom: 1px solid #d0ccc9!important;
}
.tab-content-hidden {
  display: none;
}
.tab-content-block {
  margin: 0 auto!important;
  background: #efefef!important;
  background: #fff!important;
  border: 1px solid #ddc!important;
  border-top-style: none!important;
  text-align: left!important;
  padding: 10px!important;
  padding-bottom: 20px!important;
  font-size: 11px!important;
  display: block;
}
#tab-container div.active {
  display: block!important;
}
.tab-content-block h1 {
  line-height: 1em!important;
  height: 28px!important;
  font-size: 22px!important;
}
.ember-application {
  margin: 20px;
}
.wiz_panel {
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}
.menu-item {
  color: #4078c0;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 8px 10px;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #eee;
}
.selected {
  font-weight: bold;
  color: #222 !important;
  cursor: default !important;
  background-color: #fff;
}
.menu-item.selected:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  content: "";
  background-color: #03A2CC;
}
.wiz_panel_header {
  display: block;
  padding: 8px 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  background-color: #03A2CC;
  border-bottom: 1px solid #eee;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.wiz_desc {
  font-size: 13px;
  color: #666;
  margin: 13px;
  margin-bottom: 26px;
}
.wiz_margin {
  margin: 13px;
}
.wiz_no_margin {
  margin: 0px!important;
}
.tabs .tab-title.active a {
  background-color: #03a2cc;
}
.wiz_dns_tab {
  margin-right: 13px !important;
  margin-left: 13px !important;
  margin-bottom: 13px !important;
}
.wiz_dns_tab_bottom {
  margin-bottom: 13px !important;
}
.float_right {
  float: right;
}
.float_left {
  float: left !important;
}
.launch_button {
  margin: 8px 10px;
}
.clear_fix {
  clear: both;
}
.apps_label {
  margin-top: 5px;
}
.apss_button {
  float: right;
  margin-bottom: 0px;
  display: none;
}
.display_block {
  display: block;
}
.display_none {
  display: none;
}
